html{
    background-color: darkcyan...;
    background-image: url(back.jpg);
    background-position: top;
    background-repeat:  repeat;
    background-attachment: scroll;
}
#logo{
    
    
}
#menu{
    float: right;
    border-bottom: 2px solid gray; 
    top: 55px;
}
#menu ul{
    list-style-type: none;
}
#menu ul li{
    display: inline-block;
    transition-property: all;
    transition-duration: 1s;
}
#menu ul a{
    text-decoration: none;
    margin: 3px 3px 3px 3px;
    font-size: 25px;
    color: aliceblue;
}
#menu ul a:hover{
    color: orange;
}
#menu ul li:hover{
    
    background-color: gray;
    transform: scale(1.4);
}
body{
    
    margin: 0px 0px ;
    padding: 2% 2% 2%;
    background-color: rgba(0,0,0,0.4);
    
}
#bentete{
    display: block;
    background-color: rgba(0,0,0,0.4);
    margin: -2% -2% -2%;
}
#citation{
    margin-top: 7%;
    color: #fdd835;
}
#citation h1{
    font-size: 3em;
    font-family: inherit
    text-shadow: 1px 1px 0 #444;
}
#citation p{ 
    color: #fdd835;
    font-size: 1.3em;
} 
#lancer{
    color: blue;
    display: block;
    width: 19%;
    padding: 1.2%;
    background-color: #fdd835;
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
     transition-property: all;
    transition-duration: 0.4s;
}
#lancer:hover{
   background-color: white;
    color: black;
}
#lancer:active{
   transform: scale(1.2);
}
#tcours{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 40px;
}

#TOPCOURS{
    text-align: center;
    
}
#TOPCOURS li{
    text-align: center;
    display: inline-block;
    font-size: 23px;
    margin: 3px 3px;
    border: 2px solid white;
    transition-property: all;
    transition-duration: 0.6s;
}

#TOPCOURS a{
    text-decoration: none;
    color: white;
    margin: 5px;
}

#ora{
    animation-name: couleur;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes couleur{
    from{background-color: teal}
    to{background-color: steelblue;transform: scale(1.3)}
}
#TOPCOURS a:hover{
    color: black; 
}
#TOPCOURS li:active{
    transform: scale(2);
}
#TOPCOURS li:hover{
    background-color: white;
    color: white;
    
}

.mySlideFade{
    display: none;
}

#slideShowCont img{
    vertical-align: middle;
}
#prodjava{
    text-align: center;
    color: aqua;
}
figcaption{
    position: relative;
    bottom: 2;
    left: 20px;
    font-size: 2em;
    color: white;
}

#slideShowCont{
    max-width: 70%;
    height: 800px;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.mySlideFade{
    animation-name: fade;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes fade{
    from{opacity: .3}
    to{opacity: 1}
}


























footer{
    background-color: #444444;
    margin: -2% -2%;
    height: 200%;
    margin-bottom: -2%;
}

#l1,#l2,#l3,#l4{
    float: left;
    margin-right: 2%;
}
#l1 >li,#l2 >li,#l3 >li,#l4 >li{
    list-style-type: none;
    font-size: 1.2em;
}
#l1 a,#l2 a,#l3 a,#l4 a{
    color: aliceblue;
    text-decoration: none;
}


@media all and (max-width: 600px) {
#lancer{
    color: blue;
    display: block;
    width: 16%;
    padding: 1%;
    background-color: #fdd835;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    }
    #menu{
        border-bottom: 0px;
        }
#menu ul li{
    position: relative;
    clear: both;
    display: block;
    background-color: rgba(0,0,0,0.5);
    border-left: 2px solid gray;
    padding-left: 2px;
    }
}














