html{
  background-image: url(backentrain.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  background-color: white;
  padding: 0.0em;
}
@media screen and (max-width: 60px) {
  #iframe{
    height: 610px;
  }
}
h1{
  color: orange;
  text-align: center;
}
#mat{
  position: absolute;
  right: 3em;
  color: yellow;
  font-weight: bold;
  z-index: 1;
}
#menuentrai{
  position: absolute;
  overflow-x: auto;
  left: 0.0em;
  width: 7em;
  height: 1740px;
  background-color: teal;
  padding: 2em;
  margin-right: 2em;
  z-index: 1;
  transition-property: all;
  transition-duration: 0.4s;
  transition-delay: 0.5s;
}
#menuentrai:hover{
  /*width: 20em;*/
}
.second li:hover{
  font-size: 1.2em;
  background-color: rgb(10, 189, 213);
}
li{
  transition-property: all;
  transition-duration: 0.5s;
}
#menuentrai:hover h2{
  opacity: 0.1;
}
/*#menuentrai:hover i{
  display: block;
}*/
#menuentrai ul{
  list-style-type: none;
}
#menuentrai .ferst li{
  margin-top: 1.1em;
  margin-left: -2.2em;
  color: white;
}
#menuentrai .second li a{
  text-decoration: none;
  color: white;
}
#menuentrai .second li{
  margin-top: 0.2em;
  width: 5em;
  padding: 0.3em;
}
#iframe{
  position: relative;
  margin-left: 13em;
  background-color: rgba(0,0,0,0.4);
  overflow: auto;
  border: none;
}
i{
  display: none;
  color: yellow;
}
#op9{
  text-decoration: none;
  color: white;
}
